deployment/Trained_model_dir
dir_test/
tmp2.py
tmp3.py
tmp4.py
azureml
deployment/azureml
.ipynb_aml_checkpoints
.ipynb_checkpoints
deployment/.ipynb_checkpoints
azureml-models
.vscode
.backup
__pycache__
ipynb_checkpoints
data/scripts
data/outputs
.idea
*/.devcontainer
*/.gitignore
*/__pycache__
*/.backup
*/outputs
*/.debug
